.logo{width: 3%;
margin-right: 1%;
}
/* Sezione settaggio card */
.custom-card {
  width: auto;
  height: 300px; /* Altezza fissa per tutte le card */
  display: flex;
  margin: 10px;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  overflow: hidden; /* Per evitare che l'immagine esca dalla card */
}

.custom-card-body {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrare il testo */
}

.custom-card-title {
  margin-bottom: 0.5rem;
  font-size: 1.2rem; /* Regolare la dimensione del titolo */
  font-weight: bold;
}

.custom-card-text {
  font-size: 1rem; /* Regolare la dimensione del testo */
  font-weight: normal; /* Rimuovere il grassetto */
}

.prodotto-image{
height: 80%;
}


.text-custom{

margin-top:10%;
}

.my-button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.my-button:active {
  transform: scale(1.05) translateX(10px); /* Effetto di ingrandimento e spostamento al click */
  transition: transform 0.3s ease;
}

.icons{
  font-size: 25px;
  margin: 34px;
}
.cart{
  font-size: 30px;
  margin-right: 1050px;
}

.App {
  text-align: center;
  background-color: rgb(181, 193, 93);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
